/* stylesheet for throwback website*/

h1{
    color: maroon
}

h2{
    color:mediumaquamarine
}

b{
    color:navy
}

i{
    color: orange;
}

h3{
    color: palevioletred;
}

/*images and text formatting*/

p{
    clear: both;
}

img{
    float: left;
}

/* nav structure*/

nav li a {
    display: block;
    padding: 10px 30px; 
    float: left; 
}

nav li {
    list-style-type: none;
    display: block;
    float: left; 
}

nav {
    clear: both;
}

/* structure and layout */

    #wrapper{
        width: 960px; 
        margin: 0px auto 0px auto;
    }

    #content-sidebar-wrapper{
        clear: both;
    }

    #content{
        border: 3px solid black;
        width: 73%;
        float: left;
    }

    #sidebar{
        border: 3px solid black;
        width: 23%;
        float: right;
    }

    #footer {
        clear: both;
    }